<%= render "shared/authenticated_layout" do %>
  <%= render Ui::ListPageHeaderComponent.new(
    title: t('.title'),
    subtitle: t('.subtitle'),
    action_text: t('.new_folder'),
    action_href: new_medical_folder_path
  ) %>

  <% if @medical_folders.any? %>
    <div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
      <% @medical_folders.each do |folder| %>
        <%= render Features::FolderCardComponent.new(folder: folder) %>
      <% end %>
    </div>
  <% else %>
    <%= render Ui::EmptyStateComponent.new(
      title: t('.no_folders_title'),
      description: t('.no_folders_description'),
      icon: :folder,
      action_text: t('.create_first_folder'),
      action_href: new_medical_folder_path
    ) %>
  <% end %>
<% end %>
